body {
  background-color: #ccc;
  color: #333;
  line-height: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

h3,
p,
li,
a {
  font-size: 24px;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
pre {
  font-size: 1.3rem;
}

tr,
td {
  padding: 10px;
}

#calendar {
  border-collapse: collapse;
}

hr {
  margin: 20px 0;
}

footer p {
  font-size: small;
}

.todo {
  font-size: 36px;
  color: red;
}

img {
  padding: 20px;
}
